<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.6" />
		<httpRuntime targetFramework="4.6" />
	</system.web>
	<system.webServer>
		<!--MIME-->
		<staticContent>
			<remove fileExtension=".woff"/>
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
		</staticContent>
		<!--默认目录-->
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>
