/**
 * ud2-datagrid.less
 * 数据网格控件的默认样式
 */

// 导入必要的文件
@import "../../../common/import.less";

@DatagridBorder: @ColorWhiteBorder;
@DatagridHeaderBackground: @ColorWhiteDeeper;
@DatagridCellHeight: @CtrlHeight;
@DatagridCellLineHeight: @CtrlLineHeight;
@DatagridCellPadding: @CtrlPaddingTB @CtrlPaddingLR;

// 设置控件、头部、主体、尾部的定位方式
.ud2-datagrid, .ud2-datagrid-header, .ud2-datagrid-content, .ud2-datagrid-footer {
	position: relative;
	width: 100%;
}

.ud2-datagrid-left, .ud2-datagrid-right, .ud2-datagrid-center, .ud2-datagrid-grid {
	position: relative;
}

// 页码控件主容器
.ud2-datagrid {
	.layout();
	display: block;
	background: @ColorWhite;
	border: 1px solid @DatagridBorder;
	border-radius: @BorderRadius;
}

.ud2-datagrid-left {
	float: left;

	.ud2-datagrid-cell:last-child {
		border-right-color: @DatagridBorder;
	}
}

.ud2-datagrid-right {
	float: right;

	.ud2-datagrid-cell:first-child {
		border-left-color: @DatagridBorder;
	}
}

// 设置头部和尾部的单元格样式
.ud2-datagrid-header, .ud2-datagrid-footer {
	.ud2-datagrid-cell {
		background: @DatagridHeaderBackground;
		font-weight: 800;
	}
}

.ud2-datagrid-row, .ud2-datagrid-cell {
	position: absolute;
}

.ud2-datagrid-cell {
	width: 200px;
	height: @DatagridCellHeight;
	line-height: @DatagridCellLineHeight;
	padding: @DatagridCellPadding;
	border: 1px solid @DatagridBorder;
	border-top-color: transparent;
	border-left-color: transparent;

	&:last-child {
		border-right-color: transparent;
	}
}

.ud2-datagrid-footer {
	.ud2-datagrid-row:first-child > .ud2-datagrid-cell {
		border-top-color: @DatagridBorder;
	}
}

.ud2-datagrid-content, .ud2-datagrid-header:last-child, .ud2-datagrid-footer {
	.ud2-datagrid-row:last-child > .ud2-datagrid-cell {
		border-bottom-color: transparent;
	}
}

