/**
 * form.less
 * 表单的默认样式
 */

// 导入必要的文件
@import "../../common/import.less";

/**
 * 公用样式
 */
// 表单元素公用样式
.btn, .textbox, .addon {
	.ctrl();
	padding: @CtrlPaddingTB @CtrlPaddingLR;
	line-height: @CtrlLineHeight;
	
	// 为按钮取消默认的系统样式
	.appearance();
	// 为按钮添加一个过渡动画
	.transition('width .3s, height .3s, border-color .3s, background .3s, color .3s, box-shadow .3s');
	// 当按钮存在禁用、只读属性时显示无法交互样式
	&[disabled], &[readonly], &.disabled {
		cursor: default;
		opacity: @OpacityNoImport;
	}
}

/**
 * 按钮样式
 */
// 按钮默认样式
.btn {
	background: @ColorWhiteDeeper;
	border-color: @ColorWhiteBorder;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	.userSelect();

	// 设置按钮被 hover 的外观变化
	&:not([disabled]):not(.disabled):hover, 
	&:not([disabled]):not(.disabled):focus {
		border-color: @ColorWhiteBackDark;
	}
	// 设置按钮被 active 的外观变化
	&:not([disabled]):not(.disabled):active {
		background: @ColorWhiteDeepest;
	}
}
// 实心按钮
.btn-solid {
	background: @ColorWhite;
}
// 方形按钮
.btn-square {
	border-radius: 0;
}
// 圆按钮
.btn-round {
	border-radius: @CtrlHeight / 2;

	&.sm {
		border-radius: (@CtrlHeight - @CtrlSizeGradient) / 2
	}

	&.lg {
		border-radius: (@CtrlHeight + @CtrlSizeGradient) / 2
	}
}
// 图标圆按钮
.btn-icoround {
	width: @CtrlHeight;
	padding-left: 0;
	padding-right: 0;
	border-radius: 50%;

	&.sm {
		width: @CtrlHeight - @CtrlSizeGradient;
	}

	&.lg {
		width: @CtrlHeight + @CtrlSizeGradient;
	}
}
// 按钮颜色函数
.btn-color(@Text, @TextDark, @Border, @Back) {
	color: @Text;
	background: @Back;
	border-color: @Border;
	// 设置按钮被 hover 的外观变化
	&:not([disabled]):not(.disabled):hover, 
	&:not([disabled]):not(.disabled):focus {
		border-color: @Text;
	}
	// 设置按钮被 active 的外观变化
	&:not([disabled]):not(.disabled):active {
		color: @TextDark;
		background: darken(@Back, 10%);
	}
}
// 按钮实心颜色函数
.btn-fullcolor(@Back, @Hover, @Active) {
	color: @ColorWhite;
	border-color: @Back;
	background: @Back;
	// 设置按钮被 hover 的外观变化
	&:not([disabled]):not(.disabled):hover,
	&:not([disabled]):not(.disabled):focus {
		border-color: @Hover;
		background: @Hover;
	}
	// 设置按钮被 active 的外观变化
	&:not([disabled]):not(.disabled):active {
		color: @ColorWhite;
		border-color: @Active;
		background: @Active;
	}
}
// 红色按钮颜色样式
.btn.c-red, .btn.danger, .group.danger > .btn {
	.btn-color(@ColorRed, @ColorRedDeepest, @ColorRedBorder, @ColorRedBackLight);
}
// 橙色按钮颜色样式
.btn.c-orange, .btn.warning, .group.warning > .btn {
	.btn-color(@ColorOrange, @ColorOrangeDeepest, @ColorOrangeBorder, @ColorOrangeBackLight);
}
// 绿色按钮颜色样式
.btn.c-green, .btn.success, .group.success > .btn {
	.btn-color(@ColorGreen, @ColorGreenDeepest, @ColorGreenBorder, @ColorGreenBackLight);
}
// 蓝色按钮颜色样式
.btn.c-blue, .btn.info, .group.info > .btn {
	.btn-color(@ColorBlue, @ColorBlueDeepest, @ColorBlueBorder, @ColorBlueBackLight);
}
// 黄色按钮颜色样式
.btn.c-yellow {
	.btn-color(@ColorYellow, @ColorYellowDeepest, @ColorYellowBorder, @ColorYellowBackLight);
}
// 天蓝色按钮颜色样式
.btn.c-teal {
	.btn-color(@ColorTeal, @ColorTealDeepest, @ColorTealBorder, @ColorTealBackLight);
}
// 紫蓝色按钮颜色样式
.btn.c-violet {
	.btn-color(@ColorViolet, @ColorVioletDeepest, @ColorVioletBorder, @ColorVioletBackLight);
}
// 紫色按钮颜色样式
.btn.c-purple {
	.btn-color(@ColorPurple, @ColorPurpleDeepest, @ColorPurpleBorder, @ColorPurpleBackLight);
}
// 粉色按钮颜色样式
.btn.c-pink {
	.btn-color(@ColorPink, @ColorPinkDeepest, @ColorPinkBorder, @ColorPinkBackLight);
}
// 棕色按钮颜色样式
.btn.c-brown {
	.btn-color(@ColorBrown, @ColorBrownDeepest, @ColorBrownBorder, @ColorBrownBackLight);
}
// 灰色按钮颜色样式
.btn.c-grey {
	.btn-color(@ColorGrey, @ColorGreyDeepest, @ColorGreyBorder, @ColorGreyBackLight);
}
// 深色按钮颜色样式
.btn.c-dark {
	.btn-color(@ColorDark, @ColorDarkDeepest, @ColorDarkBorder, @ColorDarkBackLight);
}
// 红色实心按钮颜色样式
.btn.btn-solid.c-red {
	.btn-fullcolor(@ColorRed, @ColorRedDeeper, @ColorRedDeepest);
}
// 橙色实心按钮颜色样式
.btn.btn-solid.c-orange {
	.btn-fullcolor(@ColorOrange, @ColorOrangeDeeper, @ColorOrangeDeepest);
}
// 绿色实心按钮颜色样式
.btn.btn-solid.c-green {
	.btn-fullcolor(@ColorGreen, @ColorGreenDeeper, @ColorGreenDeepest);
}
// 蓝色实心按钮颜色样式
.btn.btn-solid.c-blue {
	.btn-fullcolor(@ColorBlue, @ColorBlueDeeper, @ColorBlueDeepest);
}
// 黄色实心按钮颜色样式
.btn.btn-solid.c-yellow {
	.btn-fullcolor(@ColorYellow, @ColorYellowDeeper, @ColorYellowDeepest);
}
// 天蓝色实心按钮颜色样式
.btn.btn-solid.c-teal {
	.btn-fullcolor(@ColorTeal, @ColorTealDeeper, @ColorTealDeepest);
}
// 紫蓝色实心按钮颜色样式
.btn.btn-solid.c-violet {
	.btn-fullcolor(@ColorViolet, @ColorVioletDeeper, @ColorVioletDeepest);
}
// 紫色实心按钮颜色样式
.btn.btn-solid.c-purple {
	.btn-fullcolor(@ColorPurple, @ColorPurpleDeeper, @ColorPurpleDeepest);
}
// 粉色实心按钮颜色样式
.btn.btn-solid.c-pink {
	.btn-fullcolor(@ColorPink, @ColorPinkDeeper, @ColorPinkDeepest);
}
// 棕色实心按钮颜色样式
.btn.btn-solid.c-brown {
	.btn-fullcolor(@ColorBrown, @ColorBrownDeeper, @ColorBrownDeepest);
}
// 灰色实心按钮颜色样式
.btn.btn-solid.c-grey {
	.btn-fullcolor(@ColorGrey, @ColorGreyDeeper, @ColorGreyDeepest);
}
// 深色实心按钮颜色样式
.btn.btn-solid.c-dark {
	.btn-fullcolor(@ColorDark, @ColorDarkDeeper, @ColorDarkDeepest);
}


/**
 * 修饰样式
 */
// 修饰默认样式
.addon {
	font-style: normal;
	background: @ColorWhiteDeeper;
	white-space: nowrap;
	text-align: center;
}
// 修饰颜色函数
.addon-color(@Text, @Background, @Border){
	color: @Text;
	background: @Background;
	border-color: @Border;
}
// 蓝色修饰样式
.addon.info, .group.info > .addon {
	.addon-color(@ColorBlue, @ColorBlueBackLight, @ColorBlueBorder);
}
// 绿色修饰样式
.addon.success, .group.success > .addon {
	.addon-color(@ColorGreen, @ColorGreenBackLight, @ColorGreenBorder);
}
// 橙色修饰样式
.addon.warning, .group.warning > .addon {
	.addon-color(@ColorOrange, @ColorOrangeBackLight, @ColorOrangeBorder);
}
// 红色修饰样式
.addon.danger, .group.danger > .addon {
	.addon-color(@ColorRed, @ColorRedBackLight, @ColorRedBorder);
}


/**
 * 输入框样式
 */
// 输入框默认样式
.textbox {
	width: 100%;
	cursor: text;
	.userSelect('text');

	// 设置输入框被hover的外观变化
	&:not([disabled]):not(.disabled):not([readonly]):hover {
		border-color: @ColorWhiteBackDark;
	}

	// 设置输入框被focus的外观变化
	&:not([disabled]):not(.disabled):not([readonly]):focus {
		background: @ColorWhiteDeeper;
		border-color: @ColorWhiteBackDark;
	}
}
// 设置多行输入框默认样式
textarea.textbox {
	resize: none;

	& {
		height: 6em;
	}

	&.sm {
		height: 5em;
	}

	&.lg {
		height: 7em;
	}
}
// 输入框颜色函数
.textbox-color(@Color, @ColorDeepest, @Background) {
	color: @Color;
	border-color: @Color;

	&:not([disabled]):not(.disabled):not([readonly]):hover {
		border-color: @Color;
		background: @Background;
	}

	&:not([disabled]):not(.disabled):not([readonly]):focus {
		border-color: @ColorDeepest;
		box-shadow: inset 0 0 3px @Color;
		background: @Background;
	}
}
// 控件组内的输入框颜色函数
.textbox-group-color(@Text, @Background, @Border, @BorderChange){
	color: @Text;
	border-color: @Border;
	// 设置输入框被hover的外观变化
	&:not([disabled]):not(.disabled):not([readonly]):hover {
		border-color: @BorderChange;
	}

	// 设置输入框被focus的外观变化
	&:not([disabled]):not(.disabled):not([readonly]):focus {
		background: @Background;
		border-color: @BorderChange;
	}
}
// 信息状态输入框样式
.textbox.info {
	.textbox-color(@ColorBlue, @ColorBlueDeeper, @ColorBlueBackLight);
}
// 成功状态输入框样式
.textbox.success {
	.textbox-color(@ColorGreen, @ColorGreenDeeper, @ColorGreenBackLight);
}
// 警告状态输入框样式
.textbox.warning {
	.textbox-color(@ColorOrange, @ColorOrangeDeeper, @ColorOrangeBackLight);
}
// 危险状态输入框样式
.textbox.danger {
	.textbox-color(@ColorRed, @ColorRedDeeper, @ColorRedBackLight);
}
// 控件组信息状态输入框样式
.group.info > .textbox {
	.textbox-group-color(@ColorBlue, @ColorBlueBackLight, @ColorBlueBorder, @ColorBlueBackDark);
}
// 控件组成功状态输入框样式
.group.success > .textbox {
	.textbox-group-color(@ColorGreen, @ColorGreenBackLight, @ColorGreenBorder, @ColorGreenBackDark);
}
// 控件组警告状态输入框样式
.group.warning > .textbox {
	.textbox-group-color(@ColorOrange, @ColorOrangeBackLight, @ColorOrangeBorder, @ColorOrangeBackDark);
}
// 控件组危险状态输入框样式
.group.danger > .textbox {
	.textbox-group-color(@ColorRed, @ColorRedBackLight, @ColorRedBorder, @ColorRedBackDark);
}


/**
 * 选框样式
 */
// 单选与多选的默认样式
.check, .radio {
	display: inline-block;
	width: 18px; height: 18px;
	border: 1px solid @ColorWhiteBackDark;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml;base64,77u/PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDM2IDE4IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzNiAxODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6I0ZGRkZGRjt9DQo8L3N0eWxlPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTE0LjQsNi45YzAsMC4yLTAuMSwwLjMtMC4yLDAuNWwtNS44LDUuOGMtMC4xLDAuMS0wLjMsMC4yLTAuNSwwLjJzLTAuMy0wLjEtMC41LTAuMkw0LjEsOS44DQoJQzQsOS43LDMuOSw5LjYsMy45LDkuNFM0LDksNC4xLDguOUw1LjEsOGMwLjEtMC4xLDAuMy0wLjIsMC41LTAuMkM1LjcsNy44LDUuOCw3LjksNiw4bDIsMmw0LjQtNC40YzAuMS0wLjEsMC4zLTAuMiwwLjUtMC4yDQoJczAuMywwLjEsMC41LDAuMmwwLjksMC45QzE0LjMsNi42LDE0LjQsNi44LDE0LjQsNi45eiIvPg0KPGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iMjciIGN5PSI5IiByPSIzIi8+DQo8L3N2Zz4NCg==');
	background-size: 36px 18px;
	vertical-align: text-top;
	cursor: pointer;
	.boxSizing('border-box');
	.transition('border-color .3s, border-width .3s, background .3s');
	.appearance();
	
	// 滑动样式
	&:not(:disabled):hover {
		border-width: 2px;
		border-color: @ColorBlue;
	}
	// 选中样式
	&:checked {
		border-width: 2px;
		border-color: @ColorBlue;
		background-color: @ColorBlue;
		background-position-y: -2px;
	}
	// 禁用样式
	&:disabled, &.disabled {
		cursor: default;
		opacity: @OpacityNoImport;
	}
}
// 单选样式
.check {
	background-position: -2px 18px;
}
// 多选样式
.radio {
	border-radius: 9px;
	background-position: -20px 18px;
}


/**
 * 组合控件样式
 */
// 控件组合样式
.group {
	display: -moz-inline-box;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	width: 100%;

	// 内部控件的基础样式
	> * {
		position: relative;
		z-index: 1;
		font-size: @BaseFontSize;

		&:not(:first-child) {
			margin-left: -1px;
		}

		&:hover, &:focus, &.on {
			z-index: 2;
		}
	}
	// 内部弹性控件强制取消弹性
	> .noflex, > * {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	// 内部弹性控件
	> .flex, > .textbox {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
	}
	
	// 取消多个控件组合时除第一个控件外的左侧圆角
	> :not(:first-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	// 取消多个控件组合时除最后一个控件外的右侧圆角
	> :not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	// 控件的小尺寸方案
	&.sm > * {
		font-size: @BaseFontSize - @CtrlSizeGradient;
		height: @CtrlHeight - @CtrlSizeGradient * 2;
		line-height: @CtrlLineHeight - @CtrlSizeGradient * 2;
	}
	// 控件的大尺寸方案
	&.lg > * {
		font-size: @BaseFontSize + @CtrlSizeGradient;
		height: @CtrlHeight + @CtrlSizeGradient * 2;
		line-height: @CtrlLineHeight + @CtrlSizeGradient * 2;
	}
}
// 评分控件组合样式
.group-justified {
	> * {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
	}
}

/*
.group {
	display: inline-block;
	width: 100%;
	font-size: 0 !important; // 强制让所有文本信息字号为0
	vertical-align: middle;

	white-space: nowrap;
	// 为所有组合控件的可支持控件设置样式

	> * {
		position: relative;
		z-index: 1;
		font-size: @BaseFontSize;

		&:not(:first-child) {
			margin-left: -1px;
		}

		&:hover, &:focus, &.on {
			z-index: 2;
		}
	}

	> [class^='ud2-'] {
		width: 50%;
	}
	// 为文本输入控件设置样式
	> .textbox {
		width: 50%;
		// 当不是为一个子元素时，所有文本输入控件宽度缩小
		&:not(:only-of-type) {
			width: 50%;
		}
		// 当文本控件被focus时，z轴变大
		&:focus {
			z-index: 3;
		}
	}
	// 取消多个控件组合时除第一个控件外的左侧圆角
	> :not(:first-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	// 取消多个控件组合时除最后一个控件外的右侧圆角
	> :not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	// 控件的小尺寸方案
	&.sm > * {
		font-size: @BaseFontSize - @CtrlSizeGradient;
		height: @CtrlHeight - @CtrlSizeGradient * 2;
		line-height: @CtrlLineHeight - @CtrlSizeGradient * 2;
	}
	// 控件的大尺寸方案
	&.lg > * {
		font-size: @BaseFontSize + @CtrlSizeGradient;
		height: @CtrlHeight + @CtrlSizeGradient * 2;
		line-height: @CtrlLineHeight + @CtrlSizeGradient * 2;
	}
}
*/