/**
 * common.less
 * 控件的默认样式
 */

// 导入必要的文件
@import "../../common/import.less";

// 为控件设置基础样式
.ud2-number {
	.ctrl-js();
}

// JS控件文本输入框样式
.ud2-ctrl-txtbox {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	background: transparent;
	font-size: 1em;
}

// JS控件开关按钮容器
.ud2-ctrl-power {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 2em;
	height: 100%;
	overflow: hidden;
	// 设置开关按钮的开启样式
	.ico {
		position: absolute;
		top: 2px;
		right: .5em;
		overflow: hidden;
		line-height: @LineHeight;
		font-size: 1em;
		color: @ColorBlue;
		cursor: pointer;
		.transition('right .2s, color .2s');
		// 设置开关按钮的关闭按钮
		&:last-of-type {
			right: -1em;
		}
		// 设置滑入状态
		&:hover {
			color: @ColorRed;
		}
	}
	// 设置开关按钮的关闭样式
	&.ud2-ctrl-power-on {
		.ico:first-of-type {
			right: -1em;
		}
		.ico:last-of-type {
			right: @BaseSize / 2;
		}
	}
}